<header class="main-header">
    <nav>
        <ul>
            <li class="main-header__item main-header__item-list ">
                 <a href="/" class="<%= path==='/'? 'active' : ' '%>">shop</a>
            </li>
            <li class="main-header__item main-header__item-list ">
                <a href="/add-product" class="<%= path==='/add-product'? 'active' : ' '%>">Add-product</a>
            </li>
        </ul>
    </nav>
</header>