<!-- syntax for including ejs file  -->
<%- include('includes/head.ejs') %>
    <link rel="stylesheet", href="form.css">
    <link rel="stylesheet", href="product.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/add-product", method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" , name="title">
                <button class="btn" type="submit">Add Product</button> 
            </div>
        </form>
    </main>
</body>
</html>